.ColorBG10{
  background-color: #2d3f49 !important;
}

.ColorBG15{
  background-color: #15303f !important;
}

.ColorBG20{
  background-color: #0F4C75 !important;
}

.ColorBG25{
  background-color: #0a6697 !important;
}

.ColorBG30{
  background-color: #3282B8 !important;
}

.ColorBG35{
  background-color: #BBE1FA !important;
}

.ColorT10{
  color: #2d3f49 !important;
}

.ColorT15{
  color: #15303f !important;
}

.ColorT20{
  color: #0F4C75 !important;
}

.ColorT25{
  color: #0a6697 !important;
}

.ColorT30{
  color: #3282B8 !important;
}

.ColorT35{
  color: #BBE1FA !important;
}

.ColorT40{
  color: white !important;
}



