#loginButton{
  
  transition-property: background-color border;
  transition-duration: 2s ;

}

#loginButton:hover{
  background-color: #3282B8 !important;
  border: black solid 2px;
}


 #activeIcon {
	/* transition-property: background-color border transform; */
  transition-duration: 2s ;
} 

#activeIcon:hover{
  transform: rotate(360deg) scale(1.5);
  /* transform: scale(1.2); */
  /* animation: rotate 2s ease-in-out 2s 2 normal; */
}

